@import 'components/intro.scss';
@import 'components/story.scss';
@import 'components/header.scss';
@import 'components/createHistory.scss';

//estilos para la scroll bar!

    /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #5f7161 #efead8;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 13px;
  }

  *::-webkit-scrollbar-track {
    background: #efead8;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #5f7161;
    border-radius: 24px;
    border: 3px double #faebd7;
  };
  
  .todo{
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    
    .formulario{
      width: 50%;
      position: relative;
    }
    .cuento{
      width: 50%;
      position: relative;
    }
  }

  #historia{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    #storyData{
      width: auto;
      position: relative;
    }
  }
  #storyDisplay{
    width: auto;
    position: relative;
  }



